@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Nanum+Gothic:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Nanum Gothic", sans-serif;

  @media screen and (max-width: 1000px) {
    font-size: 60%;
  }

  @media screen and (max-width: 600px) {
    font-size: 50%;
  }
}

body {
  background-color: #ebf5ee;
  color: #3d3d3d;
}
