.footer {
  height: 30rem;
  width: 100%;
  text-align: center;
  background-color: #3d3d3d;
  color: #ebf5ee;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;

  &__text {
    margin-top: 4rem;
    font-family: Dancing Script;
    font-size: 4rem;
  }

  &__span {
    font-size: 1.6rem;
  }
}
